#wrapper {

    width: 1300px;
    margin: 0 auto;

}

#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    z-index: 998;
}

@font-face {
    font-family: navFont;
    font-style: normal;
    font-weight: 400;
    src: url()
 }


@font-face {
    font-family: contentFont;
    src: url('../fonts/OpenSans-Regular.ttf');
}


/*----------header----------*/

header{

    background-color: #78DDFF;
    background: -webkit-linear-gradient(#78DDFF, #F4F4F4);
    background: -o-linear-gradient(#78DDFF, #F4F4F4);
    background: -moz-linear-gradient(#78DDFF, #F4F4F4);
    background: linear-gradient(#78DDFF, #F4F4F4);
    text-align: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;

}

#menu {

    display: none;
    float: left;
    padding-top: 5px;
    padding-left: 25px;
    font-size: 40px;
    color: gray;
}

#menu:hover {

    cursor: pointer;

}

#sidenav {
    overflow: hidden;
    font-size: 24px;
    font-family: "微軟正黑體";
    width: 0px;
    height: 100%;
    z-index: 999;
    position: fixed;
    margin: 0 auto;
    left: 0;
    top: 0;
    background-color: #446D8C;
    background: -webkit-linear-gradient(#446D8C, #F4F4F4);
    background: -o-linear-gradient(#446D8C, #F4F4F4);
    background: linear-gradient(#446D8C, #F4F4F4);
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

#sidenav ul {

    margin: 0 auto;
    padding: 0;
    display: block;
    table-layout: fixed;
    text-align: left;
}



#sidenav li {

    list-style-type: none;
    height: 50px;
    margin: 0 auto;
    padding: 15px 15px 0 15px;

}

#sidenav a {

    display: block;
    text-decoration: none;
    color: white;

}

#sidenav li:hover {

    background-color: #005A87;
    cursor: pointer;
}


#sidenav ul li img {
    height: 28px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px 2px 5px;
}

#sideLogo {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 150px;
}

header img {

    display: inline-block;
    margin: 0 40px 0 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


header nav {

    display: inline-block;
    padding-top: 60px;
    padding-left: 0px;
    font-family: "微軟正黑體";
    font-weight: 600;
    font-size: 26px;
    line-height: 300%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

}

header ul {

    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    text-align: center;

}



header li {

    list-style-type: none;
    display: table-cell;
    width: 175px;
    height: auto;
    vertical-align: bottom;
}

header nav a {

    display: block;
    text-decoration: none;
    color: black;

}

.underline:hover {
  font-size: 30px;
    color: #005A87;
    padding-bottom: 10px;
    border-bottom: 2px solid #005A87;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.headersmall {

   text-align: center;
   magin: 0 auto;
   left: -20px;
   top: 0;
   height: 85px;

}

.logosmall {

  padding: 10px 0 0 5px;
  position: relative;
  left: -20px;
  height: 75px;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/*--------for small screen--------*/

@media (max-width: 1136px) {


header {
    text-align: left;
    background-color: #EAEAEA;
    width: 100%;
    height: 85px;
    overflow: hidden;;
    text-align: center;
}

header img {
    left: -20px;
    position: relative;;
    height: 75px;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

header nav {

    display: none;

}

#menu {

    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 40px;

}

#menu:hover {

    cursor: pointer;

}

}


/*----------content----------*/

body {

    background-color: #F4F4F4;

}

.content {

    text-align: center;
    padding: 170px 0 0 0;
    margin: 0 auto;
    font-family: "微軟正黑體";

}

#tableTitle {
    position: absolute;
    z-index: 5;
    text-align: left;
    margin-top: -26px;
    margin-left: 135px;
    margin-bottom: 0;
    width: 1120px;
    border-collapse: collapse;

}

#tableTitle tr td {
    height: 135px;
    margin-bottom: 0;
    vertical-align: bottom;
}


#subtitle {
    font-size: 26px;
    color: #5A0087;
    font-weight: 600;
    text-shadow: 1px 0px white, 0px 1px white, -1px 0px white, 0px -1px white,
    1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white, 0 0 10px black;

}

#tableContent {
    border-collapse: separate;
    display: inline-block;
    border-spacing: 100px 60px;
    margin: 10px 0 0 0;
}


#tableContent tr td{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 20px 14px 30px;
    border: 3px solid #D6BFE1;

}

#tableContent a {
    color: inherit;
    text-decoration: none;
}

#arrow1, #arrow2, #arrow3 {
    display: inline;
    color: #005A87;
}

#link1, #link2, #link3  {
    display: inline;

}

#link1:hover, #arrow1:hover, #link2:hover, #arrow2:hover, #link3:hover, #arrow3:hover {
    cursor: pointer;
}


#transferForm {
    font-family: "微軟正黑體";
    font-size: 18px;
    font-weight: 600;
    color: #C30027;
    position: absolute;
    margin-top: -35px;
    margin-left: 340px;
    z-index: 10;
    text-decoration: none;

}
